Babel
Flask
Flask-Cors
Flask-Script
gunicorn
pycodestyle==2.4.0
pydocstyle==2.1.1
pylint==2.1.1
# My pip on mac could not find this - Joe 2018/11/05
# pywin32==223
win-inet-pton==1.0.1
wincertstore==0.2
